<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VendeVerde</title>
  {% load static %}
  <link rel="icon" type="image/png" href="{% static 'img/icon.png' %}">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
  <!--Menu-->
  <nav class="barra navbar navbar-expand-md">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarmenu"
        aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarmenu">
        <a class="navbar-brand" href="#">
          <img src="{% static 'img/icon.png' %}" width="50px">
        </a>
        <ul class="navbar-nav d-flex justify-content-center align-items-center">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href={% url 'index' %}>Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'productos' %}">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contacto' %}">Contacto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'nosotros' %}">Sobre Nosotros</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<!-- Principal fila-->
<main>
  <div class="container-fluid d-flex justify-content-center m-5">
    <form novalidate action="#" method="POST" name="login" id="login">
      {% csrf_token %}
      <div class="mb-4">
        <label for="rut" class="form-label">Rut</label>
        <input type="text" class="form-control" name="username" id="rut">
      </div>
      <div class="mb-4">
        <label for="password" class="form-label">Contraseña</label>
        <input type="password" class="form-control" name="password" id="password">
      </div>
      <div class="d-grid mb-4">
        <button type="submit" class="btn btn-primary">Iniciar sesión</button>
      </div>
      <div class="col-12 d-flex justify-content-center align-items-center" id="alerta-login"></div>
      <div class="mb-4 text-center">
        <span><a href="{% url 'registro' %}">Registrar</a></span><br>
      </div>
    </form>
  </div>
</main>

  <script src="{% static 'js/login.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>