<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VendeVerde</title>
  {% load static %}
  <link rel="icon" type="image/png" href="{% static 'img/icon.png' %}">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
  <!--Menu-->
  <nav class="barra navbar navbar-expand-md">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarmenu"
        aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarmenu">
        <a class="navbar-brand" href="#">
          <img src="{% static 'img/icon.png' %}" width="50px">
        </a>
        <ul class="navbar-nav d-flex justify-content-center align-items-center">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href={% url 'index' %}>Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'productos' %}">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contacto' %}">Contacto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'nosotros' %}">Sobre Nosotros</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<!-- Principal fila-->
<main>
  <div class="container-fluid">
    <div class="row productos">
      <h4>Plantas</h4>
      <!-- Productos -->
      <div id="productos" class="col-12 col-md-4 my-5 d-flex justify-content-center align-items-center flex-column">
        <img src="{% static 'img/Calathea_Mokoyana.webp' %}" class="img-fluid px-2 px-md-5 mb-4">
        <p class="text-center">Calathea Mokoyana<br>
          $12.000
        </p>
        <button class="btn btn-primary" onclick="addToCart('Calathea Mokoyana', 12000)">Añadir al carro</button>
      </div>
      <div id="productos" class="col-12 col-md-4 mb-5 d-flex justify-content-end align-items-center flex-column">
        <img src="{% static 'img/Gomero_Shiveriana.webp' %}" class="img-fluid px-2 px-md-5 mb-4">
        <p class="text-center">Gomero Shiveriana<br>
          $12.500
        </p>
        <button class="btn btn-primary" onclick="addToCart('Gomero Shiveriana', 12500)">Añadir al carro</button>
      </div>
      <div id="productos" class="col-12 col-md-4 mb-5 d-flex justify-content-end align-items-center flex-column">
        <img src="{% static 'img/Pata-de-Jaiba.webp' %}" class="img-fluid px-2 px-md-5 mb-4">
        <p class="text-center">Cactus Pata de Jaiba<br>
          $15.000
        </p>
        <button class="btn btn-primary" onclick="addToCart('Cactus Pata de Jaiba', 15000)">Añadir al carro</button>
      </div>
    </div>
  </div>
</main>

<!--Pie de pagina-->
<footer>
  <div class="container-fluid d-flex justify-content-center " style="background-color: #DCEDC8;">
    <div class="row w-75 pie">
      <div class="col-6 col-md-3 d-flex justify-content-center align-items-center">
        <a href="https://twitter.com/">
          <button class="btn btn-outline-secondary">
            <i class="bi bi-twitter"></i>
          </button>
        </a>
      </div>
      <div class="col-6 col-md-3 d-flex justify-content-center align-items-center">
        <a href="https://instagram.com/">
          <button class="btn btn-outline-secondary">
            <i class="bi bi-instagram"></i>
          </button>
        </a>
      </div>
      <div class="col-6 col-md-3 d-flex justify-content-center align-items-center">
        <a href="https://facebook.com/">
          <button class="btn btn-outline-secondary">
            <i class="bi bi-facebook"></i>
          </button>
        </a>
      </div>
      <div class="col-6 col-md-3 d-flex justify-content-center align-items-center">
        <a href="https://tiktok.com/">
          <button class="btn btn-outline-secondary">
            <i class="bi bi-tiktok"></i>
          </button>
        </a>
      </div>
    </div>
  </div>
</footer>
  <script src="{% static 'js/login.js' %}"></script>
  <script src="{% static 'js/carro.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>