<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VendeVerde</title>
  {% load static %}
  <link rel="icon" type="image/png" href="{% static 'img/icon.png' %}">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
  <!--Menu-->
  <nav class="barra navbar navbar-expand-md">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarmenu"
        aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarmenu">
        <a class="navbar-brand" href="#">
          <img src="{% static 'img/icon.png' %}" width="50px">
        </a>
        <ul class="navbar-nav d-flex justify-content-center align-items-center">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href={% url 'index' %}>Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link activo" href="{% url 'productos' %}">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contacto' %}">Contacto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'nosotros' %}">Sobre Nosotros</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<!-- Principal fila-->
<main>
  <div class="container-fluid">
    <div class="row d-flex">
      <div class="bg-info col-3 col-md-3 d-flex justify-content-star align-items-center flex-column">
        {% if request.session.runCliente %}
        <div class="p-3 text-center">
          <h3>Bienvenido, {{  request.session.runCliente }}</h3>
        </div>
        <div class="p-3">
          <a class="btn btn-primary" href="{% url 'usuario' %}">Panel de control</a>
        </div>
        <div class="p-3">
          <a class="btn btn-danger" href="{% url 'salir' %}">Cerrar sesión</a>
        </div>
        <hr>
        <div class="">
          <p class="text-center">Carro <i class="bi bi-cart4"></i></p>
            <form action="comprar" method="POST">
              {% csrf_token %}
              {% if request.session.carrito.items %}
                <tbody>
                {% for key, value in request.session.carrito.items %}
                  <tr>
                    <input type="hidden" name="idProducto" value="{{ value.producto_id }}">
                    <td>{{ value.nombre }}</td>
                    <td><input type="hidden" name="cantidadProducto" value="{{ value.cantidad }}">{{ value.cantidad }}</td>
                    <td>${{ value.acumulado }}</td>
                    <td class="text-center"><a href="{% url 'restarProducto' value.producto_id %}"><i class="bi bi-dash-square"></i></a></td>
                  </tr> 
                {% endfor %}
                </tbody>
              {% else %}
                <tr>
                  <td colspan="3">
                    <div class="alert alert-danger text-center">Sin Productos</div>
                  </td>
                </tr>
              {% endif %}
              <tr>
                <th>Total:</th>
                <td><input type="hidden" name="totalPedido" value="{{ total }}">{{ total }}</td>
                <td><button type="submit" class="btn btn-primary">Comprar</button></td>
              </tr>    
            </form>
        </div>     
        
        {% elif request.session.runEmpleado%}
        <div class="p-3 text-center">
          <h3>Bienvenido, Administrador</h3>
        </div>
        <div class="p-3">
          <a class="btn btn-primary" href="{% url 'admin' %}">Panel de control</a>
        </div>
        <div class="">
          <a class="btn btn-danger" href="{% url 'salir' %}">Cerrar sesión</a>
        </div>
        {% else %}
        <div class="p-3">
          <a class="btn btn-primary" href="{% url 'loginCliente' %}">Iniciar sesión</a>
        </div>
        <div class="p-3">
          <a class="btn btn-primary" href="{% url 'registro' %}">Registrarse</a>
        </div>
        {% endif %}
      </div>

      <div class="col-9 col-md-9 p-4">
        <div class="row productos">
            <div class="col-12 col-md-4 my-5 d-flex justify-content-center align-items-center flex-column">
                <img src="{% static 'img/ramo-de-gladiolos-1.png' %}" class="img-fluid px-2 px-md-5 mb-4">
              <p class="text-center">{{producto.0.nombreProducto}}<br>
                ${{producto.0.precioProducto}} <br>
                <span>Unidades:</span> {{producto.0.stockProducto}}
              </p>
              <a href="{% url 'agregarProducto' producto.0.idProducto %}" class="btn btn-primary">Agregar al carro</a>
            </div>
            <div class="col-12 col-md-4 mb-5 d-flex justify-content-end align-items-center flex-column">
                <img src="{% static 'img/ramo-de-18-rosas-en-arpillers.png' %}" class="img-fluid px-2 px-md-5 mb-4">
              <p class="text-center">{{producto.1.nombreProducto}}<br>
                ${{producto.1.precioProducto}} <br>
                <span>Unidades:</span> {{producto.1.stockProducto}}
              </p>
              <a href="{% url 'agregarProducto' producto.1.idProducto %}" class="btn btn-primary">Agregar al carro</a>
            </div>
            <div class="col-12 col-md-4 mb-5 d-flex justify-content-end align-items-center flex-column">
                <img src="{% static 'img/RAMO-DE-10-GIRSAOLES-Y-GYPSUPHILIA.png' %}" class="img-fluid px-2 px-md-5 mb-4">
              <p class="text-center">{{producto.2.nombreProducto}}<br>
                ${{producto.2.precioProducto}} <br>
                <span>Unidades:</span> {{producto.2.stockProducto}}
              </p>
              <a href="{% url 'agregarProducto' producto.2.idProducto %}" class="btn btn-primary">Agregar al carro</a>
            </div>
        </div>
        <div class="row productos">
          <div id="productos" class="col-12 col-md-4 my-5 d-flex justify-content-center align-items-center flex-column">
            <img src="{% static 'img/Calathea_Mokoyana.webp' %}" class="img-fluid px-2 px-md-5 mb-4">
            <p class="text-center">{{producto.3.nombreProducto}}<br>
              ${{producto.3.precioProducto}} <br>
              <span>Unidades:</span> {{producto.3.stockProducto}}
            </p>
            <a href="{% url 'agregarProducto' producto.3.idProducto %}" class="btn btn-primary">Agregar al carro</a>
          </div>
          <div id="productos" class="col-12 col-md-4 mb-5 d-flex justify-content-end align-items-center flex-column">
            <img src="{% static 'img/Gomero_Shiveriana.webp' %}" class="img-fluid px-2 px-md-5 mb-4">
            <p class="text-center">{{producto.4.nombreProducto}}<br>
              ${{producto.4.precioProducto}} <br>
              <span>Unidades:</span> {{producto.4.stockProducto}}
            </p>
            <a href="{% url 'agregarProducto' producto.4.idProducto %}" class="btn btn-primary">Agregar al carro</a>
          </div>
          <div id="productos" class="col-12 col-md-4 mb-5 d-flex justify-content-end align-items-center flex-column">
            <img src="{% static 'img/Pata-de-Jaiba.webp' %}" class="img-fluid px-2 px-md-5 mb-4">
            <p class="text-center">{{producto.5.nombreProducto}}<br>
              ${{producto.5.precioProducto}} <br>
              <span>Unidades:</span> {{producto.5.stockProducto}}
            </p>
            <a href="{% url 'agregarProducto' producto.5.idProducto %}" class="btn btn-primary">Agregar al carro</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<!--Pie de pagina-->
<footer>
  <div class="container-fluid d-flex justify-content-center " style="background-color: #DCEDC8;">
    <div class="row w-75 pie">
      <div class="col-6 col-md-3 d-flex justify-content-center align-items-center">
        <a href="https://twitter.com/">
          <button class="btn btn-outline-secondary">
            <i class="bi bi-twitter"></i>
          </button>
        </a>
      </div>
      <div class="col-6 col-md-3 d-flex justify-content-center align-items-center">
        <a href="https://instagram.com/">
          <button class="btn btn-outline-secondary">
            <i class="bi bi-instagram"></i>
          </button>
        </a>
      </div>
      <div class="col-6 col-md-3 d-flex justify-content-center align-items-center">
        <a href="https://facebook.com/">
          <button class="btn btn-outline-secondary">
            <i class="bi bi-facebook"></i>
          </button>
        </a>
      </div>
      <div class="col-6 col-md-3 d-flex justify-content-center align-items-center">
        <a href="https://tiktok.com/">
          <button class="btn btn-outline-secondary">
            <i class="bi bi-tiktok"></i>
          </button>
        </a>
      </div>
    </div>
  </div>
</footer>
  <script src="{% static 'js/carro.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>